table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 48px; }

h2 {
  font-size: 38px; }

h3 {
  font-size: 28px; }

h4 {
  font-size: 22px; }

h1, h2, h3, h4, h5, h6 {
  color: #FFFFFF;
  font-family: inherit;
  line-height: normal;
  margin: 0;
  padding: 0;
  font-weight: 400; }

body, div, img, ol, ul, li,
span, p, a,
form, label, legend, fieldset,
table, tbody, tfoot, thead, tr, th, td,
aside, canvas, footer, header, menu, nav,
section, audio, video, input, button, textarea {
  color: #FFFFFF;
  font: inherit;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  vertical-align: baseline;
  outline: none;
  font-weight: 500; }

img {
  display: block; }

a:link, a:visited, a:hover, a:active {
  color: inherit;
  text-decoration: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section,
input, textarea {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

button {
  cursor: pointer; }

label {
  cursor: text; }

html {
  font-family: "Rubik", sans-serif;
  -webkit-font-smoothing: antialiased; }

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #1B1F28; }
  body main.page-container {
    width: 100%; }
  body.logged-in main.page-container {
    height: calc(100% - 80px); }
  body.logged-out main.page-container {
    height: 100%; }

.page-width {
  min-width: 800px; }

header.page-header {
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 10px 10px; }
  header.page-header .logo {
    padding: 10px; }
  header.page-header .nav-menu {
    display: flex;
    justify-content: center;
    width: 100%; }
  header.page-header .user-menu {
    display: flex; }

html .page-card-container {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  html .page-card-container .page-card {
    box-sizing: border-box;
    width: 350px;
    padding: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column; }
    html .page-card-container .page-card .card-title {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 20px; }

html button {
  color: #1DB57A;
  transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1) all;
  padding: 9px 16px;
  min-width: 90px;
  margin: 10px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0);
  align-self: center;
  position: relative; }
  html button::before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.11);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 3px;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html button:hover::before, html button.focus-within::before {
    transform: translate(-50%, -50%) scale(1);
    background-color: rgba(255, 255, 255, 0.08); }
  html button.button-click::before {
    transform: translate(-50%, -50%) scale(0.9);
    background-color: rgba(255, 255, 255, 0); }

html .label {
  color: white;
  text-align: left;
  font-size: 14px; }

html .input-container {
  margin: 10px;
  display: block;
  position: relative; }
  html .input-container input {
    background-color: transparent;
    color: rgba(255, 255, 255, 0.9);
    width: 250px;
    padding: 12px 18px;
    font-size: 14px; }
    html .input-container input::placeholder {
      color: rgba(255, 255, 255, 0.4); }
  html .input-container::before {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1) all; }
  html .input-container:hover::before, html .input-container.focus-within::before {
    transform: translate(-50%, -50%) scale(0.95);
    background-color: rgba(255, 255, 255, 0); }
  html .input-container::after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 3px;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1) all;
    background-color: rgba(255, 255, 255, 0); }
  html .input-container:hover::after, html .input-container.focus-within::after {
    transform: translate(-50%, -50%) scaleX(0.95);
    background-color: rgba(255, 255, 255, 0.25); }
  html .input-container.focus-within::after {
    background-color: rgba(29, 181, 122, 0.75); }

html .tab {
  padding: 10px;
  position: relative;
  cursor: pointer; }
  html .tab::after {
    content: "";
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0px);
    border-radius: 3px;
    transition: 0.28s cubic-bezier(0.4, 0, 0.2, 1) all;
    background-color: rgba(255, 255, 255, 0); }
  html .tab:hover::after, html .tab:focus::after {
    transform: translate(-50%, -50%) scaleX(0.95);
    background-color: rgba(255, 255, 255, 0.25); }
  html .tab:focus::after {
    background-color: rgba(29, 181, 122, 0.75); }
