.page-card-container
    width: 100%
    min-height: 100%
    display: flex
    justify-content: center
    align-items: center
    .page-card
        box-sizing: border-box
        width: 350px
        padding: 30px
        border-radius: 5px
        // border: 3px solid $border
        display: flex
        flex-direction: column
        // background: linear-gradient(rgb(15, 98, 189) 24%, rgb(10, 64, 122) 168%)
        .card-title
            text-align: center
            margin-top: 10px
            margin-bottom: 20px
